<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">
  <head>
    <style>
      a.btn {
        padding: 20px;
        margin-inline: 5px;
        display: flex;
        align-items: center;
        font-size: 1.1em;
        font-weight: 500;
      }

      .container {
        margin-bottom: 20px;
      }
    </style>
  </head>

  <main layout:fragment="content">
    <div id="box">
      <h3>관리자 기능</h3>
      <div class="container">
        <a href="/admin/members" class="btn light-green">등록 선수 관리</a>
      </div>
    </div>
  </main>

  <script layout:fragment="script"></script>
</html>
